.cart-container {
	min-width: 100%;
	height: 72rem;
	border-radius: 1rem;
	display: grid;
	grid-template-columns: 2.3fr 1fr;
	align-items: stretch;
	justify-content: space-between;
	overflow: hidden;
	background: #a74040;
}

.cart-items,
.order-summary {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 4rem;
}

.cart-items {
	background: url(../img/cart-content-bg.svg) no-repeat center center / cover;
}

.order-summary {
	background: #f6f6f6;
	border: 1px solid #6b72803f;
}

.cart-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2rem;
	border-bottom: 1px solid #d1d5db;
}
.cart-heading__title,
.order-summary__heading {
	font-size: 3.2rem;
	font-weight: 600;
}

.order-summary__heading {
	border-bottom: 1px solid #d1d5db;
	padding-bottom: 2rem;
}

.cart-items__subtitle span {
	font-size: 3.4rem;
	font-weight: 600;
}
.cart-items__subtitle {
	font-size: 2.6rem;
	font-weight: 600;
	margin-top: auto;
}

.cart-content,
.order-summary__content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: 100%;
}

.cart-heading__container,
.cart-item {
	display: grid;
	grid-template-columns: 2.3fr 1.2fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.cart-heading__container > h2:first-of-type,
.cart-item > div:first-of-type {
	justify-self: start;
}

.cart-heading__container,
.summary-heading__container {
	padding: 2.4rem 0;
	border-bottom: 1px solid #d1d5db;
}
.cart-attribute__heading {
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #6b7280;
}

.cart-items__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.cart-item__img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cart-item__details {
	display: grid;
	grid-template-columns: 1fr 1.8fr;
	width: 100%;
	max-height: 12rem;
}

.cart-item__details--text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 0 6px 2.4rem;
	gap: 3px;
}

.cart-item__details--text .product-size__inputs {
	width: 14rem;
}

.cart-item__price,
.cart-item__total-price {
	font-size: 2rem;
	text-align: center;
}

.btn--inline {
	font-size: 1.4rem;
	gap: 1rem;
	font-weight: 600;
	border: none;
	padding: 1rem 1.6rem;
	border-radius: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
}

/* Pagination */
.cart-navigations {
	border-top: 1px solid #d1d5db;
	padding-top: 2.4rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: left;
}
.pagination-cart-items {
	margin-top: auto;
}
.pagination-cart-items::after {
	content: "";
	display: table;
	clear: both;
}
.pagination__btn--prev {
	float: left;
}
.pagination__btn--next {
	float: right;
}
.cart-price__grandTotal {
	margin: 0 5rem 0 11.6rem;
	display: flex;
	font-size: 1.8rem;
	justify-content: space-between;
	align-items: center;
}

span.cart-item__totalPrice--value {
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
}

/* Payment Method Form */

.order-info__form .input-field-icon {
	left: 5%;
}

.order-info__form {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.payment-method__form label {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.payment-method__form label input {
	position: absolute;
	left: -9999px;
}

.payment-method__form label input:checked + span {
	background-color: #3561da;
	color: white;
}

.payment-method__form label input:checked + span:before {
	box-shadow: inset 0 0 0 0.4375em #1e3a8a;
}

.payment-method__form label span {
	display: flex;
	align-items: center;
	/* padding: 0.375em 0.75em 0.375em 0.375em; */
	padding: 0.4rem 0.8rem 0.4rem 0.4rem;
	border-radius: 99em;
	transition: 0.25s ease;
	color: #3561da;
}

.payment-method__form label span:hover {
	background-color: #d6d6e5;
}

.payment-method__form label span:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #1e3a8a;
}

.payment-method__form {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.order-placement {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: auto;
	gap: 2rem;
}

.price-details__final {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	width: 100%;
	padding: 2.4rem 0;
	border-top: 1px solid #d1d5db;
	border-bottom: 1px solid #d1d5db;
}

.shipping-fee,
.grand-total__price {
	display: flex;
	justify-content: space-between;
}

.grand-total__price-value {
	font-weight: 600;
}
