.section-related {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	padding: 2rem 0;
	margin: 1rem 0;
	flex-direction: column;
}
.search-related-category {
	display: flex;
	justify-content: center;
	gap: 4rem;
	align-items: center;
	padding: 2rem;
	width: 100%;
}

.search-section {
	min-width: 100%;
	height: 80rem;
	border-radius: 1rem;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 10fr;
	align-items: stretch;
	justify-content: space-between;
	overflow: hidden;
	background: #fff;
}

.grey-gradient {
	background: hsla(220, 14%, 96%, 1);
	background: linear-gradient(
		45deg,
		hsla(220, 14%, 96%, 1) 0%,
		hsla(210, 20%, 98%, 1) 100%
	);

	background: -moz-linear-gradient(
		45deg,
		hsla(220, 14%, 96%, 1) 0%,
		hsla(210, 20%, 98%, 1) 100%
	);

	background: -webkit-linear-gradient(
		45deg,
		hsla(220, 14%, 96%, 1) 0%,
		hsla(210, 20%, 98%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F3F4F6", endColorstr="#F9FAFB", GradientType=1 );
}
div.search-section > div {
	border: 1px solid #ebedf5;
}

.search-page-icons {
	font-size: 2.8rem;
	color: #1e293b;
}

.btn-search-reset {
	background: transparent;
}

i.fa-rotate-left.search-page-icons {
	margin-left: 6rem;
	font-size: 2rem;
}

.search-filter-header,
.search-results-header {
	min-height: 100%;
	display: flex;
	align-items: center;
	gap: 1.6rem;
	padding-left: 3.2rem;
}

.search-results-header {
	display: inline-flex;
}

.search-heading-text {
	font-size: 2.4rem;
	font-weight: 500;
	color: #374151;
}

.category-button {
	background: #fff;
	border: 1px solid #d1d5db;
	border-radius: 1rem;
	padding: 0.4rem 1.6rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: #374151;
	cursor: pointer;
}

.category-button:hover {
	background: #f3f4f6;
}

.search-results {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* 
Sort Button
*/
.dropdown-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	margin: 1rem;
	gap: 1.6rem;
	font-size: 1.6rem;
	color: #333;
	margin-right: 3.2rem;
}

.sort-by p {
	font-size: 2rem;
}

.dropdown-btn {
	position: relative;
	width: 16rem; /* fixed width */
	padding: 1rem 2rem; /* adjusted padding */
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.8rem;
	text-align: left;
	white-space: nowrap; /* prevent text wrapping */
	overflow: hidden; /* hide overflowing text */
	text-overflow: ellipsis; /* show ellipsis for overflow */
}

.dropdown-btn:focus {
	outline: none;
}

.dropdown-btn:hover {
	background-color: #f2f2f2;
}

.dropdown-menu {
	position: absolute;
	width: 16rem;
	top: calc(100% + 4px);
	left: 34%;
	z-index: 50;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-1rem);
	transition: all 0.3s ease;
}

.dropdown-menu.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.dropdown-option {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 1rem 1.2rem;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.8rem;
}

.dropdown-option:hover {
	background-color: #f2f2f2;
}

.dropdown-option.selected {
	font-weight: bold;
}

.selected-option .fa-caret-down {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.dropdown-btn.open .fa-caret-down {
	transform: translateY(-50%) rotate(180deg);
}

.selected-option {
	text-align: center;
	transition: all 0.3s ease;
}

/* 
SideBar
*/

/* Price Range Changer */

::selection {
	color: #fff;
	background: #17a2b8;
}

.price-field-wrapper {
	width: 100%;
	background: #fff;
	border-radius: 10px;
	padding: 2rem 2.5rem 4rem;
}

.price-input {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 2rem 0 2rem;
	justify-content: space-between;
}
.price-input .price-input-field {
	width: 100%;
	height: 4.6rem;
	align-items: center;
}

.price-input-field input {
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 1.8rem;
	text-align: center;
	border: 1px solid #999;
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.price-input .separator {
	width: 100%;
	display: flex;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
}

/* Range Slider */
.price-slider {
	height: 5px;
	position: relative;
	background: #ddd;
	border-radius: 5px;
}
.price-slider .progress {
	height: 100%;
	left: 0%;
	right: 0%;
	position: absolute;
	border-radius: 5px;
	background: #6b7280;
}
.range-input {
	position: relative;
}
.range-input input {
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* For Slider */
input[type="range"]::-webkit-slider-thumb {
	height: 17px;
	width: 17px;
	border-radius: 50%;
	background: #d1d5db;
	pointer-events: auto;
	-webkit-appearance: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
	height: 17px;
	width: 17px;
	border: none;
	border-radius: 50%;
	background: #d1d5db;
	pointer-events: auto;
	-moz-appearance: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.slider-info-text {
	display: block;
	font-weight: 400;
	font-size: 1.5rem;
	margin-top: 1.6rem;
	text-align: center;
}

.filter-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

/* 
Sort by Category
*/
.category-wrapper {
	width: 100%;
	height: 100%;
	margin: 3rem 0;
	background: #f8dede;
	padding: 2rem 2.5rem 4rem;
}

.category-list {
	width: 100%;
	list-style: none;
	font-size: 2rem;
}

.category-title {
	display: flex;
	align-items: center;
	gap: 9rem;
	padding: 1rem 0;
}

.category-title i {
	font-size: 1.4rem;
}

.category-list li:first-child .link {
	border-top: 1px solid #ebedf5;
}
