<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search</title>

		<!-- Importing Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<link
			href="http://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>

		<link rel="stylesheet" href="../css/general.css" />
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/effects.css" />
		<link rel="stylesheet" href="../css/searchPage.css" />
		<link rel="stylesheet" href="../css/loginSignup.css" />
		<link rel="stylesheet" href="../css/addProduct.css" />

		<script defer src="../js/view/effects.js"></script>
		<script defer src="../js/view/formView.js"></script>
		<script defer src="../js/view/imageView.js"></script>
		<script defer src="../js/view/passwordToggler.js"></script>
		<script defer src="../js/view/product-card-view.js"></script>
		<script defer src="../js/controller/formControllers.js"></script>
		<script defer src="../js/view/sortBy.js"></script>
		<script defer src="../js/view/filterOptions.js"></script>
		<script defer src="../js/view/priceRange.js"></script>
		<script defer src="../js/view/adminPanel.js"></script>

		<script defer src="../js/controller/loader.js"></script>
		<script defer src="../js/view/categoryDropdown.js"></script>
		<script defer src="../js/view/numberIncrement.js"></script>
		<script defer src="../js/view/productCheckBoxValidator.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__logo-box">
				<img
					src="../img/animated-logo.gif"
					alt="wearly-logo"
					class="header__logo"
				/>
				<h1 class="header__heading">wearly</h1>
			</div>

			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link">Home</a>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link"
							>Shop <i class="fa-solid fa-caret-down"></i
						></a>

						<ul class="dropdown-menu-navbar">
							<li class="dropdown-item dropdown_item-1">Latest</li>
							<li class="dropdown-item dropdown_item-2">Trending</li>
							<li class="dropdown-item dropdown_item-3">Mega Sale</li>
						</ul>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link"
							>Category<i class="fa-solid fa-caret-down"></i
						></a>
						<ul class="dropdown-menu-navbar">
							<li class="dropdown-item dropdown_item-1">Mens</li>
							<li class="dropdown-item dropdown_item-2">Womens</li>
							<li class="dropdown-item dropdown_item-3">Unisex</li>
							<li class="dropdown-item dropdown_item-3">Formals</li>
							<li class="dropdown-item dropdown_item-3">Casuals</li>
						</ul>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link"
							>Popular<i class="fa-solid fa-caret-down"></i
						></a>
					</li>
				</ul>
			</nav>

			<div class="user__controls">
				<div class="header__search-box">
					<form action="" class="search__form">
						<i
							class="fa-solid fa-magnifying-glass form-icon gradient-text active"
						></i>
						<i
							class="fa-solid fa-spinner-third form-icon gradient-text fa-spin"
						></i>
						<i class="fa-solid fa-x form-icon gradient-text"></i>

						<input
							class="search__form--input"
							name="search_term"
							type="search"
							placeholder="Search here.."
							required=""
							autocomplete="off"
						/>
					</form>
					<ul class="dropdown-menu-searchsuggestions">
						<p><i class="fa-solid fa-fire"></i> Popular Right Now</p>
						<li class="dropdown-option" data-value="hoodie">
							<i class="fa-light fa-magnifying-glass"></i>Hoodie
						</li>
						<li class="dropdown-option" data-value="tshirt">
							<i class="fa-light fa-magnifying-glass"></i>Tshirt
						</li>
						<li class="dropdown-option" data-value="formals">
							<i class="fa-light fa-magnifying-glass"></i>Formals
						</li>
					</ul>
				</div>

				<div class="header__icons">
					<a href="#" class="header__nav-link">
						<i class="fa-solid fa-heart"></i>
					</a>
					<a href="#" class="header__nav-link">
						<i class="fa-solid fa-shopping-cart"></i>
					</a>
					<a href="#" class="header__nav-link">
						<i class="fa-solid fa-user"></i>
					</a>
					<ul class="dropdown-menu-profile">
						<li class="dropdown-option">
							<a href="#"><i class="fa-solid fa-user"></i> Profile</a>
						</li>

						<li class="dropdown-option">
							<a href="cartPage.html"
								><i class="fa-solid fa-bags-shopping"></i> Your Orders</a
							>
						</li>
						<li class="dropdown-option">
							<a><i class="fa-solid fa-key"></i> Reset Password</a>
						</li>
						<li class="dropdown-option">
							<a><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
						</li>
					</ul>
					<!-- <button class="btn btn-primary margin-left">Login</button> -->
				</div>
			</div>
		</header>

		<main class="container section-admin">
			<section class="admin-panel-container">
				<div class="section-admin-panel">
					<div class="tools-sidebar grey-gradient">
						<div class="admin-sidebar-header">
							<i class="fa-solid fa-screwdriver-wrench admin-page-icons"></i>
							<h1 class="admin-sidebar-header-text">Operations</h1>
							<!-- <button class="btn btn-search-reset">
								<i class="fa-solid fa-bars admin-page-icons"></i>
							</button> -->
						</div>
					</div>

					<div class="admin-dashboard grey-gradient">
						<div class="admin-dashboard-header">
							<i
								class="fa-regular fa-square-poll-horizontal admin-page-icons"
							></i>
							<h1 class="admin-dashboard-header-text">Admin Dashboard</h1>
						</div>
					</div>

					<div class="panel-wrapper">
						<ul class="options-list">
							<li class="open">
								<div class="option-title">
									<div>
										<i class="fa-solid fa-shirt"></i>
										Products
									</div>
									<i class="fa fa-caret-down"></i>
								</div>
								<ul class="option-breakdown">
									<li
										class="option-for product-data"
										data-viewpage="view-products"
									>
										<p class="navigate-option">View Products</p>
									</li>
									<li
										class="option-for edit-product"
										data-viewPage="add-product"
									>
										<p class="navigate-option">Add Products</p>
									</li>
									<li
										class="option-for top-products"
										data-viewPage="top-products"
									>
										<p class="navigate-option">Top Products</p>
									</li>
									<li
										class="option-for new-products"
										data-viewPage="new-products"
									>
										<p class="navigate-option">New Products</p>
									</li>
								</ul>
							</li>
							<li class="open">
								<div class="option-title">
									<div>
										<i class="fa-solid fa-users"></i>
										Customers
									</div>
									<i class="fa fa-caret-down"></i>
								</div>
								<ul class="option-breakdown">
									<li
										class="option-for customer-data"
										data-viewPage="view-customers"
									>
										<p class="navigate-option">View Customers</p>
									</li>
									<li
										class="option-for customer-orders"
										data-viewPage="view-orders"
									>
										<p class="navigate-option">Customer's Orders</p>
									</li>
									<li
										class="option-for top-customers"
										data-viewPage="top-customers"
									>
										<p class="navigate-option">Top Customers</p>
									</li>
									<li
										class="option-for new-customers"
										data-viewPage="new-customers"
									>
										<p class="navigate-option">New Customers</p>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="admin-tools-container">
						<div class="loader-animated">
							<!-- <h1 class="header__heading">wearly</h1> -->
						</div>
						<form
							action=""
							method="get"
							class="add-product-form"
							name="product-form"
							onsubmit=" return validateAddProductForm()"
							novalidate
						>
							<div class="product-form-body">
								<div class="product-name-field input-field-container">
									<span class="error-message">This field cannot be empty</span>
									<i class="fa-solid fa-bags-shopping input-field-icon"></i>
									<input
										type="text"
										id="product-name"
										name="product-name"
										placeholder="Product Name"
										required
										class="input-field"
									/>
								</div>
								<div class="product-brand-field input-field-container">
									<span class="error-message">This field cannot be empty</span>
									<i class="fa-solid fa-badge-check input-field-icon"></i>
									<input
										type="text"
										id="product-brand"
										name="product-brand"
										placeholder="Product Brand"
										required
										class="input-field"
									/>
								</div>
								<div class="product-price-field input-field-container">
									<span class="error-message">This field cannot be empty</span>
									<i class="fa-solid fa-dollar-sign input-field-icon"></i>
									<input
										type="number"
										id="product-price"
										name="product-price"
										placeholder="Product Price (NPR)"
										required
										class="input-field"
									/>
								</div>
								<div class="product-quantity-field input-field-container">
									<span class="error-message">This field cannot be empty</span>
									<i class="fa-solid fa-boxes input-field-icon"></i>
									<input
										type="number"
										id="product-quantity"
										name="product-quantity"
										placeholder="Product Quantity"
										required
										class="input-field"
									/>
									<div class="input-spinner">
										<button id="ispin-up">
											<i class="fa-solid fa-caret-up"></i>
										</button>
										<button id="ispin-down">
											<i class="fa-solid fa-caret-down"></i>
										</button>
									</div>
								</div>

								<div class="product-category-field input-field-container">
									<span class="error-message"
										>Select One Gender, and Two Categories at most !</span
									>
									<ul class="category-list category-gender">
										<li class="open">
											<div class="category-title">
												<div>
													<i class="fa-solid fa-tags"></i>
													Gender
												</div>
												<i class="fa fa-caret-down"></i>
											</div>
											<ul class="category-options show">
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-men"
														name="checkBox-men"
														class="terms-checkbox"
														value="Men"
													/>
													<label class="label-checkmark" for="checkBox-men">
														<span class="checkmark"></span>
														<p>Men</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-women"
														name="checkBox-women"
														class="terms-checkbox"
														value="Women"
													/>
													<label class="label-checkmark" for="checkBox-women">
														<span class="checkmark"></span>
														<p>Women</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-unisex"
														name="checkBox-unisex"
														class="terms-checkbox"
														value="Unisex"
													/>
													<label class="label-checkmark" for="checkBox-unisex">
														<span class="checkmark"></span>
														<p>Unisex</p>
													</label>
												</li>
											</ul>
										</li>
									</ul>
									<ul class="category-list category-category">
										<li class="open">
											<div class="category-title">
												<div>
													<i class="fa-solid fa-tags"></i>
													Category
												</div>
												<i class="fa fa-caret-down"></i>
											</div>
											<ul class="category-options show">
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-footwear"
														name="checkBox-footwear"
														class="terms-checkbox"
														value=""
													/>
													<label
														class="label-checkmark"
														for="checkBox-footwear"
													>
														<span class="checkmark"></span>
														<p>Footwear</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-hoodie"
														name="checkBox-hoodie"
														class="terms-checkbox"
														value=""
													/>
													<label class="label-checkmark" for="checkBox-hoodie">
														<span class="checkmark"></span>
														<p>Hoodie</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-formalwear"
														name="checkBox-formalwear"
														class="terms-checkbox"
														value=""
													/>
													<label
														class="label-checkmark"
														for="checkBox-formalwear"
													>
														<span class="checkmark"></span>
														<p>Formalwear</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-sportswear"
														name="check"
														class="terms-checkbox"
														value=""
														required
													/>
													<label
														class="label-checkmark"
														for="checkBox-sportswear"
													>
														<span class="checkmark"></span>
														<p>Sportswear</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-shirts"
														name="checkBox-shirts"
														class="terms-checkbox"
														value=""
													/>
													<label class="label-checkmark" for="checkBox-shirts">
														<span class="checkmark"></span>
														<p>Shirts</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-traditional"
														name="checkBox-traditional"
														class="terms-checkbox"
														value=""
													/>
													<label
														class="label-checkmark"
														for="checkBox-traditional"
													>
														<span class="checkmark"></span>
														<p>Traditional</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-summer"
														name="checkBox-summer"
														class="terms-checkbox"
														value=""
													/>
													<label class="label-checkmark" for="checkBox-summer">
														<span class="checkmark"></span>
														<p>Summer Wear</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-winter"
														name="checkBox-winter"
														class="terms-checkbox"
														value=""
													/>
													<label class="label-checkmark" for="checkBox-winter">
														<span class="checkmark"></span>
														<p>Winer Wear</p>
													</label>
												</li>
												<li class="category-option">
													<input
														type="checkbox"
														id="checkBox-casual"
														name="checkBox-casual"
														class="terms-checkbox"
														value=""
													/>
													<label class="label-checkmark" for="checkBox-casual">
														<span class="checkmark"></span>
														<p>Casual Wear</p>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="product-info-container">
									<div class="product-description-field input-field-container">
										<span class="error-message"
											>This field cannot be empty</span
										>
										<i class="fa-solid fa-pen-to-square input-field-icon"></i>
										<textarea
											id="product-description"
											name="product-description"
											placeholder="Product Description (Max 500 Characters)"
											required
											class="input-field"
											maxlength="500"
										></textarea>
									</div>
									<div class="product-upload-container">
										<div class="product-upload input-field-container">
											<div class="upload-title-container">
												<h1 class="upload-title">Upload Product Image</h1>
											</div>
											<div class="product-edit">
												<input
													type="file"
													id="productUpload"
													accept="image/*"
													required
												/>
												<label for="productUpload"></label>
											</div>

											<div class="product-preview">
												<div
													id="imagePreview"
													class="default-product"
													style="background-image: url(../img/upload-image.gif)"
												></div>
											</div>
											<p class="upload-instruction-text">
												Upload Instruction: Image File Less than 2 MB
											</p>
										</div>
									</div>
									<button type="submit" class="btn btn-primary">
										Save Product
									</button>
								</div>
							</div>
						</form>

						<div class="table-container table__product-list">
							<form action="" class="search__form-products">
								<i
									class="fa-solid fa-magnifying-glass form-icon gradient-text active"
								></i>

								<input
									class="search__form--input"
									name="search_term"
									type="number"
									placeholder="Search with Product ID"
									required=""
									autocomplete="off"
								/>
							</form>
							<table class="customers-table">
								<thead class="grey-gradient">
									<tr>
										<th scope="col">Photo</th>
										<th scope="col">Product ID</th>
										<th scope="col">Name</th>
										<th scope="col">Brand</th>
										<th scope="col">Price</th>
										<th scope="col">Quantity</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="image-column">
											<img src="../img/product-img/hoodie-sample.jpeg" alt="" />
										</td>
										<td>7</td>
										<td>Red Dress</td>
										<td>Adidas</td>
										<td>2799</td>
										<td>18</td>
										<td>
											<button class="btn btn-action">Edit</button>
											<button class="btn btn-action">Delete</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- Data in Tabular View -->

						<div class="table-container table__customer-orders">
							<table class="customers-table">
								<thead class="grey-gradient">
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Order ID</th>
										<th scope="col">Name</th>
										<th scope="col">Price</th>
										<th scope="col">Quantity</th>
										<th scope="col">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01/01/2023</td>
										<td>123456789</td>
										<td>Product A</td>
										<td>$9.99</td>
										<td>1</td>
										<td>$9.99</td>
									</tr>
									<tr>
										<td>01/02/2023</td>
										<td>987654321</td>
										<td>Product B</td>
										<td>$19.99</td>
										<td>2</td>
										<td>$39.98</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
