<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>

		<!-- Importing Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<link
			href="http://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>

		<link rel="stylesheet" href="../css/general.css" />
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/effects.css" />

		<script defer src="../js/view/effects.js"></script>
		<script defer src="../js/view/formView.js"></script>
		<script defer src="../js/view/imageView.js"></script>
		<script defer src="../js/view/passwordToggler.js"></script>
		<script defer src="../js/view/product-card-view.js"></script>
		<!-- <script defer src="../js/controller/formControllers.js"></script> -->
		<script defer src="../js/controller/loader.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__logo-box">
				<img
					src="../img/animated-logo.gif"
					alt="wearly-logo"
					class="header__logo"
				/>
				<h1 class="header__heading">wearly</h1>
			</div>

			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Home</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Shop</a>
						<i class="fa-solid fa-caret-down"></i>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Category</a>
						<i class="fa-solid fa-caret-down"></i>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Popular</a>
						<i class="fa-solid fa-caret-down"></i>
					</li>
				</ul>
			</nav>

			<div class="user__controls">
			
			<div class="header__search-box">
				<form action="" class="search__form">
					<i class="fa-solid fa-magnifying-glass form-icon gradient-text"></i>

					<input
						class="search__form--input"
						name="search_term"
						type="search"
						placeholder="Search here.."
						required=""
					/>
				</form>
			</div>

				<!-- 

			When the user is logged in, the login button will be replaced with the user icon and the cart icon.

			-->

				<div class="header__icons">
					<!-- <a href="#" class="header__nav-link">
					<i class="fa-solid fa-heart"></i>
				</a>
				<a href="#" class="header__nav-link">
					<i class="fa-solid fa-shopping-cart"></i>
				</a>
				<a href="#" class="header__nav-link">
					<i class="fa-solid fa-user"></i>
				</a>  -->
					<button class="btn btn-primary margin-left">Login</button>
				</div>
				</div>
			</div>
		</header>

		<main>
			<section class="section__hero">
				<div class="hero">
					<div class="hero-text-box">
						<h1 class="heading-primary">
							<span class="extra-bold">Quality </span> <span class="gradient-text">is</span><br />
							Priority
						</h1>
						<p class="description-text-hero">
							Get ready to elevate your wardrobe with Wearly. Our premium
							clothing selection is handpicked to help you dress for success and
							showcase your personality.
						</p>
						<div class="hero-btn">
							<button class="btn btn-primary">Shop Now</button>
							<div class="social-links flex--social">
								<a href="http://www.pinterest.com" target="_blank"
								  ><i class="fa-brands fa-pinterest social-icon"></i></a>
								<a href="http://www.facebook.com/" target="_blank"
								  ><i class="fa-brands fa-facebook social-icon"></i></a>
								<a href="http://www.instagram.com" target="_blank"
								  ><i class="fa-brands fa-instagram social-icon"></i></a>
							  </div>
						</div>
					</div>
					<div class="hero-img-box">
						<div class="hero__img--guy">

							<img src="../img/hero-guy.png" alt="hero-img" class="img--guy" />
						</div>
						<div class="hero__img--girl">
							<img src="../img/hero-img-girl.png" alt="hero-img" class="img--girl" />
						</div>
				</div>
			</section>

			<section class="section-category container">
				<div class="product-category">
					<div class="category">
						<i class="ph ph-dress"></i>
						<span>Dress</span>
					</div>
					<div class="category">
						<i class="ph ph-t-shirt"></i>
						<span>Shirt</span>
					</div>
					<div class="category">
						<i class="ph ph-hoodie"></i>
						<span>Hoodie</span>
					</div>
					<div class="category">
						<i class="ph ph-sneaker"></i>
						<span>Sneaker</span>
					</div>
					<div class="category">
						<i class="ph ph-pants"></i>
						<span>Pants</span>
					</div>
					<div class="category">
						<i class="ph ph-shirt-folded"></i>
						<span>Formalwear</span>
					</div>
				</div>
			</section>
			
			<section class="section__featured">
				<div class="featured-heading">
					<h1 class="heading-secondary">
						<span class="extra-bold">Popular </span> <span class="gradient-text">Right Now</span>
					</h1>
					<p class="description-text">
						We have the best offers for you. Check out our latest offers and
						get the best deals. Don't miss out on the chance to get your hands on these sought-after products at unbeatable prices!
				</div>

				<div class="section__featured-boxes">
					<div class="featured-box featured_guy">
						<div class="featured-box__text">
							<h1 class="heading-secondary">
								<span class="gradient-text">25%</span> Off
							</h1>
							<h3 class="heading-tertiary">Premium Jeans</h3>
							<button class="btn btn-featured">Buy Now <i class="ph ph-arrow-elbow-right"></i></button>
						</div>
					</div>

					<div class="featured-box featured_girl">
						<div class="featured-box__text">
							<h1 class="heading-secondary">
								<span class="gradient-text">32%</span> Off
							</h1>
							<h3 class="heading-tertiary">Full White sportwear</h3>
							<button class="btn btn-featured">Buy Now <i class="ph ph-arrow-elbow-right"></i></button>
						</div>
					</div>
				</div>
			</section>

			<section class="section-product_cards">
				<div class="featured-heading container">
					<p class="small-heading">
						Our Products</p>
					<h1 class="heading-secondary">
						<span class="extra-bold">Find what you're</span> <span class="gradient-text">looking for.</span>
					</h1>
				</div>

				<div class="container product_cards--container">
					<div class="product_card">
						<div class="portrait-container">
							<div class="portrait"></div>
							<p class="price-currency">
								Rs.
								<span class="product-price">1,499</span>
							</p>
						</div>
						<img
						src="../img/product-img/skull-printed-tshirt.jpg"
						class="product-img"
						alt="skull-printed-tshirt" />
						<div class="product_card--content">
							<div class="product-attribute">
								<i class="ph-fill ph-seal-check"></i>
								<span class="product-brand">Nike</span>
							</div>

							
							<p class="product-title">Skull Printed T-Shirt</p>

							<ul class="product-attributes">

								<li class="product-tags">
									<span class="tag-content product-type">Tshirts</span>
									<span class="tag-content product-type">Unisex</span>
								</li>

								<li class="product-attribute">
										<p>Ratings</p>
									<div class="attribute-boxes product-rating">

									</div>
								</li>

								<!-- <li class="product-attribute">
									Sizes
									<div class="size-container">
										<input  id="size-small" name="size" type="radio" value="Small" />
										<label for="size-small">S</label>

										<input  id="size-medium" name="size" type="radio" value="Medium" />
										<label for="size-medium">M</label>

			
										<input  id="size-large" name="size" type="radio" value="Large" checked="checked" />
										<label for="size-large">L</label>

										<input  id="size-xl" name="size" type="radio" value="Extra Large" />
										<label for="size-xl">XL</label>


									</div>
								</li> -->
							</ul>

							<p class="quantity-text">Quantity</p>
							<div class="add-to-cart">
								<div class="quantity-input">
									<button class="quantity-btn minus">-</button>
									<input class="quantity-value" type="number" value="1" min="1" max="10" readonly>
									<button class="quantity-btn plus">+</button>
								  </div>

								  <button class="btn btn--cart">Add to Cart <i class="ph-fill ph-shopping-cart"></i></button>
							</div>
							  
						</div>
					</div>
					

				</div>

			</section>
		</main>

		<footer class="footer">
			<div class="foot-container grid--footer">
				<div class="contact-col">
					<img class="footer-img" src="../img/footer-img.svg" alt="Farewell, Reach Me Later!" >
	
					<div class="contact-contents">
	
					  <div class="email-info info">
						<i class="fa-solid fa-envelope footer-icon"></i>
						<a class="contact-text" href="mailto:hello@sugamsubedi.com.np">hello@wearlycloset.com.np</a>
					  </div>
					  
					  <div class="phone-info info">
						<i class="fa-duotone fa-phone footer-icon"></i>
						<a class="contact-text" href="#">Request a Call!</a>
					  </div>
					  
					  <p class="copyright">
						Copyright © <span class="year">2023</span> by Team Wearly, 
						All rights reserved.
					  </p>
					</div>
				</div>

				<div class="other-col">

					<nav class="pages-col">
					  <p class="footer-heading ">Pages</p>
					  <ul class="footer-nav ">
						<li><a class="footer-link" href="#">Home</a></li>
						<li><a class="footer-link" href="#services">Products</a></li>
						<li><a class="footer-link" href="#">Our Partners</a></li>
						<li><a class="footer-link" href="#cta">Contact</a></li>
						<li><a class="footer-link" href="#about-me">About Us</a></li>
					  </ul>
					</nav>
		  
		  
					<nav class="socials-col">
					  <p class="footer-heading">Socials</p>
					  <ul class="footer-nav">

						<li><a class="footer-link footer-link-flex" href="http://www.facebook.com/supSugam" target="_blank"><i class="fa-brands fa-facebook footer-icon-social"></i>Facebook</a></li>
						<li><a class="footer-link footer-link-flex" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram footer-icon-social"></i>Instagram</a></li>

					
						<li><a class="footer-link footer-link-flex" href="http://vt.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok footer-icon-social"></i>Tiktok</a></li>

						
						<li><a class="footer-link footer-link-flex" href="http://www.pinterest.com" target="_blank"><i class="fa-brands fa-pinterest footer-icon-social"></i>Pinterest</a></li>
					  </ul>
					</nav>
		  
		  
					<nav class="address-col">
					  <p class="footer-heading">Our Store Venue</p>
					  <div class="footer-nav">
		  
						<a target="_blank" href="http://goo.gl/maps/F4c6wenwhAkYpGEW8" class="footer-link footer-link-flex line-height-max">Pokhara 7 - Kaski <br>Gandaki, Nepal </a>
						<a target="_blank" href="http://goo.gl/maps/F4c6wenwhAkYpGEW8" class="footer-link footer-link-flex"><i class="fa-solid fa-location-dot footer-icon-social"></i>View On Maps</a>
					  </div>
					</nav>
				  </div>
			</div>

		</footer>
	</body>
</html>
