<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login Page</title>

		<!-- Importing Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<link
			href="http://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>

		<script defer src="../js/effects.js"></script>
		<script defer src="../js/script.js"></script>
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/general.css" />
		<link rel="stylesheet" href="../css/effects.css" />
		<link rel="stylesheet" href="../css/login.css" />
	</head>
	<body>
		<div class="goIn-container container-signup">
			<div class="go-back-main">
				<a href="index.html">
					<i class="fas fa-arrow-left"></i>
					Explore Products Without Logging In
				</a>
			</div>
			<section class="form-section signup-section">
				<div class="svg-half">
					<img class="blue-blob" src="../img/blue-blob.svg" alt="Blue Blob" />
					<img src="../img/login-aside.svg" alt="Login" class="login-aside" />
				</div>

				<div class="form-container">
					<div class="header__logo-box">
						<img
							src="../img/animated-logo.gif"
							alt="wearly-logo"
							class="header__logo"
						/>
						<h1 class="header__heading">wearly</h1>
					</div>

					<form action="" class="signup-form">
						<div class="signup-tab">
							<div class="name-fields input-field-container">
								<div class="first-name-field input-field-container">
									<i class="input-field-icon fas fa-user"></i>
									<input
										type="text"
										id="first-name"
										name="first-name"
										placeholder="First Name"
										required
										class="input-field"
									/>
								</div>
								<div class="last-name-field input-field-container">
									<i class="input-field-icon fas fa-user"></i>
									<input
										type="text"
										id="last-name"
										name="last-name"
										placeholder="Last Name"
										required
										class="input-field"
									/>
								</div>
							</div>

							<div class="email-field input-field-container">
								<i class="input-field-icon fas fa-envelope"></i>
								<input
									type="email"
									id="email"
									name="email"
									placeholder="Email"
									required
									class="input-field"
								/>
							</div>

							<div class="credentials-fields input-field-container">
								<div class="phone-field input-field-container">
									<i class="input-field-icon fas fa-phone"></i>
									<input
										type="tel"
										id="phone"
										name="phone"
										placeholder="Phone Number"
										required
										class="input-field"
									/>
								</div>
								<div class="password-field input-field-container">
									<i class="fa-solid fa-key input-field-icon"></i>
									<input
										type="password"
										name="password"
										placeholder="Password"
										required
										class="input-field"
									/>
								</div>
							</div>

							<div class="image-upload">
								<div class="avatar-upload">
									<div class="avatar-edit">
										<input
											type="file"
											id="imageUpload"
											accept=".png, .jpg, .jpeg"
											required
										/>
										<label for="imageUpload"></label>
									</div>
									<div class="avatar-preview">
										<div
											id="imagePreview"
											style="background-image: url(../img/hero-guy.png)"
										></div>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-primary submit-button">
								Sign Up
							</button>
							<!-- <div class="photo-field input-field-container">
								<i class="input-field-icon fas fa-camera"></i>
								<label for="photo-upload" class="photo-upload-label"
									>Upload Photo</label
								>
								<input
									type="file"
									id="photo-upload"
									name="photo-upload"
									accept="image/*"
									class="input-field"
								/>
								<div class="photo-preview-container">
									<img class="photo-preview" src="#" alt="Photo Preview" />
								</div> 
                            </div> -->
						</div>
					</form>
					<div class="redirect-text">
						<p>Have an account already?</p>
						<a class="redirect-sign-up" href="#">Log In</a>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
