<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search</title>

		<!-- Importing Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<link
			href="http://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>

		<link rel="stylesheet" href="../css/general.css" />
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/effects.css" />
		<link rel="stylesheet" href="../css/searchPage.css" />
		<link rel="stylesheet" href="../css/addProduct.css" />
		<link rel="stylesheet" href="../css/singleProduct.css" />

		<!-- <script defer src="../js/view/effects.js"></script> -->
		<!-- <script defer src="../js/view/formView.js"></script> -->
		<!-- <script defer src="../js/view/imageView.js"></script> -->
		<!-- <script defer src="../js/view/passwordToggler.js"></script> -->
		<script defer src="../js/view/product-card-view.js"></script>
		<script defer src="../js/controller/formControllers.js"></script>
		<!-- <script defer src="../js/view/sortBy.js"></script> -->
		<!-- <script defer src="../js/view/priceRange.js"></script> -->

		<!-- <script defer src="../js/controller/loader.js"></script> -->
		<!-- <script defer src="../js/view/categoryDropdown.js"></script> -->
	</head>
	<body>
		<header class="header">
			<div class="header__logo-box">
				<img
					src="../img/animated-logo.gif"
					alt="wearly-logo"
					class="header__logo"
				/>
				<h1 class="header__heading">wearly</h1>
			</div>

			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link">Home</a>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link"
							>Shop <i class="fa-solid fa-caret-down"></i
						></a>

						<ul class="dropdown-menu-navbar">
							<li class="dropdown-item dropdown_item-1">Latest</li>
							<li class="dropdown-item dropdown_item-2">Trending</li>
							<li class="dropdown-item dropdown_item-3">Mega Sale</li>
						</ul>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link"
							>Category<i class="fa-solid fa-caret-down"></i
						></a>
						<ul class="dropdown-menu-navbar">
							<li class="dropdown-item dropdown_item-1">Mens</li>
							<li class="dropdown-item dropdown_item-2">Womens</li>
							<li class="dropdown-item dropdown_item-3">Unisex</li>
							<li class="dropdown-item dropdown_item-3">Formals</li>
							<li class="dropdown-item dropdown_item-3">Casuals</li>
						</ul>
					</li>
					<li class="header__nav-item underline-effect">
						<a href="#" class="header__nav-link">Popular</a>
						<i class="fa-solid fa-caret-down"></i>
					</li>
				</ul>
			</nav>

			<div class="user__controls">
				<div class="header__search-box">
					<form action="" class="search__form">
						<i
							class="fa-solid fa-magnifying-glass form-icon gradient-text active"
						></i>
						<i
							class="fa-solid fa-spinner-third form-icon gradient-text fa-spin"
						></i>
						<i class="fa-solid fa-x form-icon gradient-text"></i>

						<input
							class="search__form--input"
							name="search_term"
							type="search"
							placeholder="Search here.."
							required=""
							autocomplete="off"
						/>
					</form>
					<ul class="dropdown-menu-searchsuggestions">
						<p>Popular Right Now</p>
						<li class="dropdown-option" data-value="Relevance">
							<i class="fa-light fa-magnifying-glass"></i>Hoodie
						</li>
						<li class="dropdown-option" data-value="Price">
							<i class="fa-light fa-magnifying-glass"></i>Tshirt
						</li>
						<li class="dropdown-option" data-value="Rating">
							<i class="fa-light fa-magnifying-glass"></i>Rating
						</li>
					</ul>
				</div>

				<div class="header__icons">
					<!-- <a href="#" class="header__nav-link">
                    <i class="fa-solid fa-heart"></i>
                </a>
                <a href="#" class="header__nav-link">
                    <i class="fa-solid fa-shopping-cart"></i>
                </a>
                <a href="#" class="header__nav-link">
                    <i class="fa-solid fa-user"></i>
                </a>  -->
					<button class="btn btn-primary margin-left">Login</button>
				</div>
			</div>
		</header>

		<main class="container">
			<section class="product-container">
				<div class="product-image-half">
					<img
						src="../img/product-img/hoodie-sample.jpeg"
						alt="hoodie"
						class="single-product-image"
					/>
				</div>
				<div class="product-content-half grey-gradient">
					<li class="product-tags">
						<span class="tag-content product-type">Hoodie</span>
						<span class="tag-content product-type">Men</span>
					</li>
					<div class="product-attribute">
						<i class="ph-fill ph-seal-check"></i>
						<span class="product-brand">Nike</span>
					</div>
					<h1 class="product-title__single">Zipless Grey Hoodie</h1>
					<li class="product-attribute">
						<p>Ratings</p>
						<div class="attribute-boxes product-rating"></div>
						(3.5)
					</li>
					<p class="product-price__single">Rs. 3790</p>

					<div class="product-size__single">
						<p>Available Sizes</p>
						<div class="product-size__inputs">
							<label class="size-option">
								<input
									type="radio"
									name="radio"
									value="medium"
									class="product-size-radio"
									checked="checked"
								/>
								<span class="size-label">Medium</span>
							</label>

							<label class="size-option">
								<input
									type="radio"
									name="radio"
									value="large"
									class="product-size-radio"
								/>
								<span class="size-label">Large</span>
							</label>

							<label class="size-option">
								<input
									type="radio"
									name="radio"
									value="xl"
									class="product-size-radio"
								/>
								<span class="size-label">Extra Large</span>
							</label>
						</div>
					</div>
					<p class="quantity-text">
						Quantity <span class="stock-quantity">(17 Left in Stock.)</span>
					</p>
					<div class="add-to-cart__single">
						<div class="quantity-input">
							<button class="quantity-btn minus">-</button>
							<input
								class="quantity-value"
								type="number"
								value="1"
								min="1"
								max="10"
								readonly
							/>
							<button class="quantity-btn plus">+</button>
						</div>

						<button class="btn btn--cart">
							Add to Cart <i class="ph-fill ph-shopping-cart"></i>
						</button>
					</div>

					<div class="product-description__single">
						<p class="desc-title">Product Description</p>

						<p>
							• Versatile grey color
							<br />
							• Zipless design for a minimalistic look
							<br />
							• 100% cotton
							<br />
							• Machine washable
						</p>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="foot-container grid--footer">
				<div class="contact-col">
					<img
						class="footer-img"
						src="../img/footer-img.svg"
						alt="Farewell, Reach Me Later!"
					/>

					<div class="contact-contents">
						<div class="email-info info">
							<i class="fa-solid fa-envelope footer-icon"></i>
							<a class="contact-text" href="mailto:hello@sugamsubedi.com.np"
								>hello@wearlycloset.com.np</a
							>
						</div>

						<div class="phone-info info">
							<i class="fa-duotone fa-phone footer-icon"></i>
							<a class="contact-text" href="#">Request a Call!</a>
						</div>

						<p class="copyright">
							Copyright © <span class="year">2023</span> by Team Wearly, All
							rights reserved.
						</p>
					</div>
				</div>

				<div class="other-col">
					<nav class="pages-col">
						<p class="footer-heading">Pages</p>
						<ul class="footer-nav">
							<li><a class="footer-link" href="#">Home</a></li>
							<li><a class="footer-link" href="#services">Products</a></li>
							<li><a class="footer-link" href="#">Our Partners</a></li>
							<li><a class="footer-link" href="#cta">Contact</a></li>
							<li><a class="footer-link" href="#about-me">About Us</a></li>
						</ul>
					</nav>

					<nav class="socials-col">
						<p class="footer-heading">Socials</p>
						<ul class="footer-nav">
							<li>
								<a
									class="footer-link footer-link-flex"
									href="http://www.facebook.com/supSugam"
									target="_blank"
									><i class="fa-brands fa-facebook footer-icon-social"></i
									>Facebook</a
								>
							</li>
							<li>
								<a
									class="footer-link footer-link-flex"
									href="http://www.instagram.com"
									target="_blank"
									><i class="fa-brands fa-instagram footer-icon-social"></i
									>Instagram</a
								>
							</li>

							<li>
								<a
									class="footer-link footer-link-flex"
									href="http://vt.tiktok.com"
									target="_blank"
									><i class="fa-brands fa-tiktok footer-icon-social"></i
									>Tiktok</a
								>
							</li>

							<li>
								<a
									class="footer-link footer-link-flex"
									href="http://www.pinterest.com"
									target="_blank"
									><i class="fa-brands fa-pinterest footer-icon-social"></i
									>Pinterest</a
								>
							</li>
						</ul>
					</nav>

					<nav class="address-col">
						<p class="footer-heading">Our Store Venue</p>
						<div class="footer-nav">
							<a
								target="_blank"
								href="http://goo.gl/maps/F4c6wenwhAkYpGEW8"
								class="footer-link footer-link-flex line-height-max"
								>Pokhara 7 - Kaski <br />Gandaki, Nepal
							</a>
							<a
								target="_blank"
								href="http://goo.gl/maps/F4c6wenwhAkYpGEW8"
								class="footer-link footer-link-flex"
								><i class="fa-solid fa-location-dot footer-icon-social"></i>View
								On Maps</a
							>
						</div>
					</nav>
				</div>
			</div>
		</footer>
	</body>
</html>
